.App {
  text-align: center;
}

#employee_form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  max-width: 400px;
  padding: 2rem 1rem;
  margin: auto;
}

#employee_form input {
  width: 100%;
}

#employee_form label {
  margin: 1rem 0 0 0;
}

button {
  width: 200px;
  height: 30px;
  justify-self: center;
  margin: 1rem 0 0 0;
  cursor: pointer;
  background-color: darkseagreen;
  border: none;
}

button:hover {
  background-color: rgb(65, 88, 65);
  color: white;
}

#employees-table {
  border: 1px black solid;
  margin: auto;
}

td {
  border: 1px black solid !important;
}